h2 {
  font-size: 45px;
  font-family: sans-serif;
  text-decoration: ;
  text-align: left;
  color: hotpink;
}

h3 {
  color: hotpink;
  text-align: left;
}

h4 {
  color: hotpink;
  text-align: left;
}

select{
  height: 30px;
  background: transparent;
  border: 1px solid red;
  border-radius: 2px;
  font-size: 16px;
  color: hotpink;
  font-weight: 400;
  padding: 4px;
  width: 300px;
  align-content: right;
  align-self: right;
  text-align: right;
  padding-left: 60px;
  position:absolute;
  top:40px;
  right:0;
}
